.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Navbar {
  background: rgba(26, 26, 26, 0.8);
}

.hrJumbo {
  border: 1.5px solid white;
}

hr {
  border: 1.5px solid black;
}

.jumbotron {
  background-image: url(./img/jumbotronCover.jpg);
  height: 100vh;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  font-weight: bold;
  
}

.jumbodiv {
  margin-top: 20%;
  margin-left: 0px;
  margin-right: 0px;
  background: rgba(26, 26, 26, 0.6);
}

body, html {
  height: 100%;
}

.contentGrouping {
  background-image: url(./img/jumbotronCover.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contentGroupingSmall {
  background-image: url(./img/jumbotronCover.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.interiorGrouping {
  background: rgba(26, 26, 26, 0.6);
  padding: 40px;
}

.interiorGroupingNoMatch {
  background: rgba(26, 26, 26, 0.6);
  padding: 40px;
}

.innerGrouping {
  padding: 20px;
}

.innerGroupingQuote {
  padding: 40px;
  padding-top: 20px;
}

.footer {
  background-color: #343A40;
}

.stockSubmitBtn {
  margin: 10px;
}

.chartClose {
  margin-top: 50px;
}


.homeCardOuterWelcome {
  margin: 20px;
  margin-bottom: 40px;
  
}
.homeCardTitleWelcome {
  padding-top: 20px;
  padding-bottom: 0px;
  margin: 10px;
}
.homeCardTextWelcome {
  padding-top: 20px;
  padding-bottom: 20px;
}

.homeCardOuter {
  margin: 20px;
  margin-bottom: 40px;
  
}
.homeCardTitle {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px;
}
.homeCardText {
  padding-top: 20px;
  padding-bottom: 20px;
}

.inputPrepend {
  margin-left: 250px;
}

.datePickerComp {
  padding: 10px;
  
}